<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AppTest">
 <test name="TestsFor-android-pixel 2">
  <parameter name="osVersion" value="9.0"/>
  <parameter name="appPath" value="/home/elya/Desktop/news_app/src/main/resources/apkIpaFile/app-release.apk"/>
  <parameter name="platformName" value="android"/>
  <parameter name="deviceName" value="pixel 2"/>
  <parameter name="deviceID" value="emulator-5554"/>
  <packages>
   <package name="com.news_app.mobile.test"/>
  </packages>
 </test>
</suite>